div.article-arrage-container#articleArrageContainer
    div.flex-box-contents
        // * include content layout
        div.article-contents#articleContents !{pages.value}
        div.article-footer
            include extension/body-footer.pug