//- *top Logo
div.header-logo#headerLogo
    div.header-logo-cont#headerLogoCont
        a(href="/app")
            div.header-logo-cont-img#headerLogoContImg
                img(src="/logo_ini.png").logo-init
            div.header-logo-cont-txt#headerLogoContTxt !{appName}

//- *top Menu
div.head-menu#headMenu menu